/* The box model fix */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper {
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
}
header,
footer {
  background-color: #ccc;
  height: 50px;
}
aside {
  background-color: lightblue;
  height: 250px;
  width: 200px;
  float: left;
}
article {
  background-color: greenyellow;
  height: 250px;
  width: 600px;
  float: left;
  padding: 20px;
}
.clear {
  clear: both;
}
